[submodule "dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "ohmyzsh"]
	path = shells/zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "meta/dotbot-pacaur"]
	path = meta/dotbot-pacaur
	url = https://github.com/ajlende/dotbot-pacaur.git
